body{
    background-color: pink;
}
.nav-link{
    font-weight: lighter;
}
.nav-link:hover{
    font-weight: bolder;
    background-color: #eee;
}
header{
    height:700px; 
    width:100%;
    background-image: url("asap2.jpg");
    background-size:cover;
    text-align: center;
    font-family:'Abril Fatface';
}

header p{
    font-style: italic;
}